* {
    box-sizing: border-box;
    font-family: "Reenie Beanie", cursive;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: linen;
    background-image: url("blank-white-notepaper-design_53876-118304.jpg");
    background-size: cover;
}

h1 {
    letter-spacing: 2vmin;
    margin: auto;
    font-size: 10vmin;
}

h2 {
    margin: auto;
    font-size: 6vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    background-color:#c06c84;
}

#board > div {
    margin: .5vmin;
    background-color: white;
    border: .5vmin solid white;
}

#board > div.avail {
    cursor: pointer;
}

#board > div.avail:hover {
    border-color: darkslateblue;
}


button {
    border: 0.1vmin solid gray;
    border-radius: 4vmin;
    margin-top: 4vmin;
    padding: 1vmin;
    font-size: 5vmin;
}

button:hover {
    color: white;
    background-color: #c06c84;
}